<nav class="navbar navbar-toggleable-sm navbar-inverse bg-primary mb-3">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Idea Jar</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {{#if user}}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">Project Ideas</a>
                    <div class="dropdown-menu">
                    <a href="/ideas" class="dropdown-item">Ideas</a>
                    <a href="/ideas/add" class="dropdown-item">Add idea</a>
                    </div>
                </li>
                <li class="nav-item"><a href="/users/logout" class="nav-link">Logout</a></li>
            {{else}}
                <li class="nav-item"><a href="/users/signup" class="nav-link">Sign Up</a></li>
                <li class="nav-item"><a href="/users/login" class="nav-link">Login</a></li>
            {{/if}}
        </ul>
      </div>
    </div>
</nav>
