<div class="card">
    <div class="card-header" style="text-align: center;">Edit Project Idea</div>
    <div class="card-body">
        <form action="/ideas/edit/{{idea.id}}" method="post">
            <input type="hidden" name="_method" value="PUT">
            <div class="form-group row" align="center">
                <label for="title" class="col-sm-1 col-form-label ml-5 mt-3">Title</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control mt-3" name="title" value="{{idea.title}}" required>
                </div>
            </div>
            <div class="form-group row" align="center">
                <label for="details" class="col-sm-1 col-form-label ml-5">Details</label>
                <div class="col-sm-8">
                    <textarea name="details" class="form-control" required>{{idea.details}}</textarea>
                </div>
            </div>
            <div class="card-footer" style="text-align: center;">
                <input type="submit" class="btn btn-primary" value="Update idea">
            </div>
        </form>
    </div>
</div>