{{#each ideas}}
    <div class="card mb-2">
        <h4>{{title}}</h4>
        <p>{{details}}</p>
        <div class="card-block btn-group">
            <a class="btn btn-secondary mr-2" href="/ideas/edit/{{id}}">Edit</a>
            <form action="/ideas/delete/{{id}}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" class="btn btn-secondary" value="Delete">
            </form>
        </div>
    </div>
{{else}}
    <p>No project ideas found.</p>
{{/each}}