<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <img src="/images/logo.png" alt="Project Ideas Logo" class="logo">
                    <h3 class="text-center" style="line-height: 80px;">Account Login</h3>
                </div>
            </div>
            <div class="card-body">
                <form action="/users/login" method="post">
                    <div class="form-group">
                        <label for="email" class="col-form-label ml-4 mt-3">Email</label>
                        <div class="col-sm-11">
                            <input type="email" class="form-control ml-2 mr-4" name="email" id="email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-form-label ml-4">Password</label>
                        <div class="col-sm-11">
                            <input type="password" class="form-control ml-2 mr-4 mb-4" name="password" id="password" required>
                        </div>
                    </div>
                    <div class="card-footer" style="text-align: center;">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
